@charset "utf-8";

body {
    background-color: #aae18a;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif, Verdana, sans-serif;
   }

img {

    height: 240px;
    width: 320px;
}
     
    
figure{
        width: 320px;
        padding: 5px;
        margin: 800px 800px 800px 800px 800px 800px 800px 800px 800px 800px;
  }


div{
    border: 1px solid #ff00cc;
}