@charset "utf-8";

* {
    background-color: #ff8c91;
    font-family: 'Oswald', sans-serif;
font-family: 'Sedgwick Ave Display', cursive;
font-family: 'Shadows Into Light', cursive;
color: #ffffc0;
font-size: 1rem;
}

.teste{

    
}