@charset "utf-8";
*{
    background-color: rgb(170, 6, 6);
}
.integrantes li:nth-child(odd) {
    background-color: #ffe600;
  }
  
  .integrantes li:hover {
    font-weight: bold;
  }
  
  .biografia {
    float: left;
    width: 30%;
    background-color: #ccb803;
    padding: 10px;
    margin: 10px;
  }
  
  .discografia:first-letter {
    font-size: 24px;
  }
  
  .discografia:hover {
    color: rgb(255, 208, 0);
  }
  
  .curiosidades::before {
    content: "O álbum Sobrevivendo no Inferno, o quarto do grupo, que foi responsável por projetá-los nacionalmente e consolidar de vez o nome dos caras como potências do hip hop no Brasil";
    font-weight: bold;
  }
  
  .curiosidades::after {
    content: "Entre os maiores sucessos estão Vida Loka I, Vida Loka II, Negro Drama, Jesus Chorou e Estilo Cachorro";
    font-style: italic;
  }